@model List<Booking>
@{
    Layout = "_LayoutSite";
}
@foreach (var item in Model)
{
    <div class="row center-lg">
        <div class="rooms col col-2">
            @switch (item.Room.RoomType.Name)
            {
                case "Standard Single":
                    <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_42_nastdj.png"
                         alt="Standard Single Room" class="rooms-img">
                    break;
                case "Standard Double":
                    <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638449/Rectangle_43_d9eepu.png"
                         alt="Standard Double Room" class="rooms-img">
                    break;
                case "Deluxe King":
                    <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_44_anerdv.png"
                         alt="Deluxe King Room" class="rooms-img">
                    break;
                case "Suite":
                    <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638449/Rectangle_45_mtl458.png"
                         alt="Suite" class="rooms-img">
                    break;
                default:
                    <!-- Default case if room type doesn't match -->
                    break;
            }

            <h3 class="room-title">@item.Room.RoomType.Name</h3>
            <p class="room-text">item.Room.RoomType.Description</p>
           
            <div class="buttons-container">
                <a asp-action="showDetails" asp-controller="Custmer"  class="btn btn-ghost">Show Details</a>
                <a asp-action="GuestBooking" asp-controller="Custmer" class="btn btn-fill">Book Now</a>
            </div>
        </div>

    </div>
}
